<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random);">
  <div class="container">
    <h1>Make your <strong>music</strong> easily <strong>accessible</strong>!</h1>
    <p>Create and update your album collection!</p>
    <a class="btn btn-flat" href="#">Join us</a>
  </div>
</div>