<div class="container">
  <div class="row d-flex">
    <div class="col-xs-12 btn-create my-3 text-center">
      <%= link_to  "Create an album", new_album_path %>
    </div>
  </div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Artist</th>
        <th scope="col">Album Name</th>
        <th scope="col">Information</th>
      </tr>
    </thead>
    <tbody>
      <% @albums.each do |album| %>
        <tr>
          <td><%= album.artist %></td>
          <td><%= album.album_name %></td>
          <td>
            <%= link_to  "Check album", album_path(album) %>
          </td>
        </tr>   
      <% end %>
    </tbody>
  </table>
</div>