<%= link_to  "Back", albums_path %>
<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Year</th>
        <th scope="col">Artist</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= @album.album_name %></td>
          <td><%= @album.year %></td>
          <td><%= @album.artist %></td>
        </tr>   
    </tbody>
  </table>
</div>