<div class="container">
  <div class="menu">
    <%= link_to  "Back", albums_path %>
    <ul>
      <li>
        <%= link_to  "Edit", edit_album_path(@album) %>
      </li>
      <li>
        <%= link_to "Destroy", album_path(@album), method: "DELETE", data: {confirm: "Are you sure?"} %>
      </li>
    </ul>
  </div>
  <%= @album.artist %>
</div>